.App {
  display: flex;
  flex-wrap: wrap;
  
}
.Store-title{
  display: flex;
  font-size: 64px;
  justify-content: center;
}
.hero{
  background-attachment:fixed;
  background-position: center;
  background-image: url("arrangement-black-friday-shopping-carts-with-copy-space.jpg");
  background-size: cover;
  padding: 10px 0px 150px 0px;
  width: 100%;
  height: 350px;
}
.container{
  display: flex;/* Flex to fill the remaining space in the row */
  /* flex-direction: column;   */
  flex: 1;
}
.slogan{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.toshow{
  display: flex;  
  flex: 1;
}
.App-header {
  width: 100%;
  padding: 20px;
  /* background-color: #fe931e; */
  color: #fff;
}

.Header-Links{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: end;
  align-self: start;

}

.GFG {
  text-decoration: none;
  margin: 1%;
  color:white;
  font-size:16px;
  padding: 1%;
}
.GFG:hover{
  background-color:burlywood;
  /* border:2px solid; */

}


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.product {

  padding: 10px;
  width: 350px;
  height: 350px; 
}

.pdt{
  font-size: 30px;
}
.Products-container {

 flex: 1; /* Flex to fill the remaining space in the row */
  padding:20px 0px 0px 20px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  /* background-color: #D1A399; */
}

.product-description {
  margin: 10px 5px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}
.product-image{
  width: 330px;
  height: 180px;
 
}
  /* Categories component*/

.Categories-List{
  display: flex;
  flex-direction: column ;
  flex: 1;
  justify-items: center;
  margin: 20px 10px 20px 10px;

}

.category-button{
  background-color: transparent;
  border: none;
  color: #0d172a;
  cursor: pointer;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 2;

  /* padding: 1.6rem 2.6rem; */
  text-align: center;
  text-decoration: none;
  user-select: none;
}
.category-button:hover{
 background-color: burlywood;
}

.categories-container{ 

  flex: 0 0 150px; /* Set a fixed initial width for the categories container */
  max-width: 30%; /* Set a maximum width to limit the size of the categories container */
  padding: 20px;
  margin-bottom: 2%;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  overflow-x: auto; /* Make the container scrollable if the content exceeds the height */
  justify-content: center;
}
/*Cart Context*/

.cart-button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #0d172a;
  cursor: pointer;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.cart-button:hover{
  background-color: burlywood;
}
/* 
.Cart-container{
  

} */